### 머신러닝 프로세스

* 원핫인코딩 = 더미변수 - pd.get_dummies(X)

In [1]:
import pandas as pd
data = pd.read_csv('./../../data/bigboongi/vote.csv', encoding='utf-8')
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [3]:
X1 = data[['gender', 'region']]
XY = data[data.columns[2:]]

In [4]:
XY

,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,3,3,3,2,2,4.0,1,2
1,2,3,3,2,4,3.0,0,3
2,1,2,4,1,3,2.8,1,4
3,2,1,3,5,4,2.6,1,1
4,1,2,4,4,3,2.4,1,1
...,...,...,...,...,...,...,...,...
206,1,4,4,3,3,1.8,1,2
207,2,1,2,3,4,2.6,1,4
208,2,1,2,3,3,2.6,1,2
209,2,3,4,3,2,4.0,1,4
210,2,2,2,3,3,3.8,1,2

* 범주형 변수의 One-hot-encoding 변환

In [5]:
X1['gender'] = X1['gender'].replace([1, 2], ['male', 'female'])
X1['region'] = X1['region'].replace([1, 2, 3, 4, 5], ['Sudo', 'Chungcheung', 'Honam', 'Youngnam', 'Others'])

/var/folders/_p/x_57820s1b15kl1dk8sw72kc0000gn/T/ipykernel_29408/3877965327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['gender'] = X1['gender'].replace([1, 2], ['male', 'female'])
/var/folders/_p/x_57820s1b15kl1dk8sw72kc0000gn/T/ipykernel_29408/3877965327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['region'] = X1['region'].replace([1, 2, 3, 4, 5], ['Sudo', 'Chungcheung', 'Honam', 'Youngnam', 'Others'])

In [6]:
X1.head()

   gender    region
0    male  Youngnam
1    male    Others
2    male     Honam
3  female      Sudo
4    male      Sudo

In [8]:
X1_dum = pd.get_dummies(X1)
X1_dum.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,0,1,0,0,0,0,1
1,0,1,0,0,1,0,0
2,0,1,0,1,0,0,0
3,1,0,0,0,0,1,0
4,0,1,0,0,0,1,0

* 자료 저장 및 통합하기

In [9]:
Fvote = pd.concat([X1_dum, XY], axis=1)
Fvote.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [10]:
Fvote.to_csv('./../../data/bigboongi/Fvote.csv', index=False, sep=',', encoding='utf-8')